// Colors
$color-bg: black;
$color-border-green: green;
$color-border-blue: blue;
$color-border-red: red;
$color-card-border: #eaecf0;

// Spacing
$spacing-lg: 96px;
$spacing-md: 32px;

// Breakpoints
$bp-tablet: 990px;
$bp-mobile: 479px;
